<!doctype html>
<html lang="en">
  <head>
    <!-- Title block allowing child pages to override -->
    <title>{% block title %}Lloyd Wheeler &#8212; Web Designer &amp; Front End Developer{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <!-- Styles -->
    {{ "app.css" | asset_url | stylesheet_tag }}
  </head>
  <body>
  	{% block content %}{% endblock %}
    {{ "app.js" | asset_url | script_tag }}
  </body>
</html>